---
import { Button } from '../components/shared/button/button';
import { Link } from '../components/shared/link/link';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
  <section class='h-viewi flex gap-4 flex-col items-center justify-center'>
    <h1 class='text-4xl text-center tracking-normal'>
      A coffee van to suit all occasions
    </h1>
    <p class='text-center'>
      We make great coffee and snacks. Perfect for the beach or your next
      function
    </p>
    <div class='flex gap-2'>
      <Link href='/menu'>See our menu</Link>
      <Button>Find out where we are</Button>
    </div>
  </section>
</Layout>

<style></style>
