---
import Layout from '../layouts/Layout.astro';

// const asdf = await client.queries.homeConnection();
---

<Layout title='Juice Palace'>
  <div class='p-8'>
    <!-- <Hero data={asdf} /> -->
    <footer class='h-20 flex items-center justify-center'>
      © 2024 Juice Palace
    </footer>
  </div>
</Layout>

<style></style>
