:root {
  --content-full: 2 6 23;
  --content-default: 30 41 59;
  --content-light: 71 85 105;
  --primary-content: 14 74 106;
  --primary-default: 153 211 242;
  --surface-container-low: 241 245 249;
  --surface-container: 226 232 240;
  --surface-container-high: 203 213 225;
  --surface-default: 248 250 252;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}
.h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(var(--content-default) / 1);
}

.h2 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(var(--content-default) / 1);
}

h3 {
  font-size: 1.5rem;
}

.h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.45rem;
}

.h4 {
  font-size: 1.45rem;
}

p {
  font-size: 1rem;
}

.em {
  background-image: linear-gradient(
    45deg,
    color-mix(
      in srgb,
      rgb(var(--primary-content)),
      rgb(var(--primary-default)) 60%
    ),
    rgb(var(--primary-content))
  );
  background-clip: text;
  color: transparent;
}
