<!-- ---
import { client } from '../../../tina';
import ContactComponent from '../../components/screens/contact';
import Layout from '../../layouts/Layout.astro';

const asdf = await client.queries.openingHours({
  relativePath: 'openingHours.md',
});
---

<Layout title='Contact - Juice Palace'>
  <div class='p-8'>
    <section class='h-viewi flex gap-4 flex-col'>
      <h1>Locations</h1>
      <ContactComponent
        client:idle
        locations={asdf}
      />
    </section>
  </div>
</Layout> -->
