---
import { client } from '../../../tina';
import LocationsComponent from '../../components/screens/contact';
import { ContactHook } from '../../components/screens/contact/contact-hook';
import { Footer } from '../../components/shared/footer/footer';
import { ScrollContainer } from '../../components/shared/scroll-container/scroll-container';
import Layout from '../../layouts/Layout.astro';
import { buttonCva } from '../../components/shared/button/button.cva';

const asdf = await client.queries.openingHours({
  relativePath: 'openingHours.md',
});
---

<Layout
  title='Contact - Juice Palace'
  description='find out where Juice Palace will be located and when, or get in contact with us!'>
  <ScrollContainer>
    <section class='flex w-full gap-4 flex-col'>
      <h2>Contact</h2>
      <ContactHook
        client:idle
        data={asdf}
      />
    </section>
    <section class='flex w-full gap-4 flex-col'>
      <h2>Locations</h2>
      <LocationsComponent
        client:idle
        data={asdf}
      />
    </section>
  </ScrollContainer>
  <Footer />
</Layout>
