---
// import '@fontsource-variable/noto-sans';
import { ViewTransitions } from 'astro:transitions';
import { Header } from '../components/shared/header/header';
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html
  lang='en'
  class='bg-surface-default scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
    <meta
      name='description'
      content={description}
    />
    <meta
      name='viewport'
      content='width=device-width,initial-scale=1'
    /><link
      rel='icon'
      type='image/png'
      href='/icons/favicon-48x48.png'
      sizes='48x48'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/icons/favicon.svg'
    />
    <link
      rel='shortcut icon'
      href='/icons/favicon.ico'
    />
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/icons/apple-touch-icon.png'
    />
    <meta
      name='apple-mobile-web-app-title'
      content='Juice Palace'
    />
    <link
      rel='manifest'
      href='/icons/site.webmanifest'
    />
    <ViewTransitions />
  </head>
  <body>
    <Header client:idle />
    <main class='bg-grey-100 h-view flex overflow-hidden flex-col'>
      <slot />
    </main>
  </body>
</html>
